*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Roboto", sans-serif;
}


.Start{
    background-image: url("asset/developer.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
  
    font-size: 2rem;
    position: relative;
}
.Start div{
    position: absolute;
    left: 300px;
    top: 100px;
   font-size: larger;
   font-weight: 100;
   line-height: 70px;

}
.name{
    font-size: 30px;
}
h1, h2{
    font-weight: 100;
    font-size: 70px;
}

.work{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
.work h2{
    font-weight:300;
}
.work span{
   font-weight: bold;
   font-size: larger;
}

.plates{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(320px , 1fr));
    gap: 40px;
    margin: 50px;
}
.grid_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
    transition: 0.2s ease-in-out;
}
.card_content {
    padding: 20px;
}
.card_content h3 {
    margin-bottom: 10px;
}
.approch{
    display: flex;
    color: white;
 
    
}
.approch div{
    padding-bottom: 50px;
    }
.approch h1{
padding: 50px;
}
.approch p,a {
    padding-inline: 50px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
}
.contact{
    background-color: rgb(9, 66, 9);
    max-width: 50%;
}
.about{
    background-color: rgb(116, 33, 33);
    width:auto;
}
footer{
    background-color: black;
    color: white;
    padding: 10PX;
    justify-content: center;
    display: flex;
}